input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
}

input {
  &:checked+label {
    background: #bada55;
  }

  &:checked+label:after {
    left: calc(100% - 0px);
    transform: translateX(-100%);
  }
}

label:active:after {
  width: 20px;
}

header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.header {
  &__brand {
    &_text {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &_theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }

  &__profile {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 3px 0;

    div{
      margin-right: 10px;
    }

    &_name {
      display: flex;
      align-items: center;
      margin: 0 10px;
    }

    &_img {
      height: 100%;

      img {
        height: 100%;
      }
    }
  }

  &__nav {
    display: flex;

    &_controller {
      display: flex;
      height: fit-content;

      &_item {
        box-shadow: 0px 4px 18px 0px #D2D1D180;
        padding: 10px;
        margin: 7px;
        border-radius: 50%;

        img {
          padding: 0 7px 0 3px;

        }

        &.right {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }

    &_panel {
      display: flex;
      align-items: center;
      overflow-x: scroll;

      &_item {
        margin: 0 10px;
        color: var(--element-text-secondary);
        white-space: nowrap;

        &.active {
          color: var(--element-text);
        }
      }
    }
  }
}