.chat__item {
  border-bottom: var(--border) 1px solid;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:hover {
    background-color: var(--background-secondary-hovered);
  }


  &:hover>&_icon {
    filter: invert(0.5);
  }
  &_icon{
    filter: invert(1);
    &:hover {
      filter: invert(0)!important;
    }
  }
  &_input{
    height: 30px;
    font-size: 14px;
  }
}