body {
  --background-primary: #54D3C2;
  --background-primary-hovered: #4ca8aa;
  --background-gradient: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
}

body.light {
  --background: #ffffff;
  --background-element: #F8F8F8;
  --background-input: #fbfbfb;
  --background-nav: #dcdcdc;
  --background-secondary: #9dcdce;
  --background-secondary-hovered: #d6d6e4;
  --element-active: #30898a;
  --element-text: #000;
  --element-text-secondary: #818181;
  --element-text-secondary-hovered: #646464;
  --element-text-light: #fff;
  --element-text-invert: #ffffff;
  --border: #e9e9e9;
}

body.dark {
  --background: #272727;
  --background-element: #2f2f33;
  --background-input: #2e3039;
  --background-nav: #2c2d38;
  --background-secondary: #224040;
  --background-secondary-hovered: #305252;
  --element-active: #30898a;
  --element-text: #ffffff;
  --element-text-secondary: #6c6c6c;
  --element-text-secondary-hovered: #6c6c6c;
  --element-text-light: #fff;
  --element-text-invert: #000;
  --border: #3f3f3f;
}

* {
  border: none;
  color: var(--element-text);
  transition-duration: 0.6s;
  transition-property: background-color, color;
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@import './components/menu/header';
@import './components/menu/panel';
@import './components/popups/loginPopup';
@import './pages/loading';
@import './pages/reports/company';
@import './components/elements/spinner';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-radius: 20px;
  width: -webkit-fill-available;
  height: 10px;
  padding: 15px;
  outline: var(--border) solid 1px;
  background-color: var(--background-input);

  &:focus-visible {
    outline: var(--element-active) solid 1px;
  }
}

button {
  border: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

main {
  height: 100vh;
  background-color: var(--background);
  border-radius: 40px 0 0 40px;
  width: calc(100% - 120px);
  
}

.main {
  width: 100%;
  background-color: var(--background-element);
  border-radius: 40px 40px 0 40px;
  overflow-y: scroll;
  height: calc(100% - 120px);

  &__container {
    padding: 40px 0;
  }

  h1 {
    margin: 0 0 0 40px;
  }

  &__body {
    margin: 0 0 40px 0;
    display: flex;

    &_left {
      margin: 0 20px 0 40px;
      width: 70%;
    }

    &_right {
      margin: 20px 40px 0 20px;
      width: 30%;
    }
  }
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.btn {
  border: none;
  background-color: var(--background-secondary);
  padding: 15px 10px;
  text-align: center;
  color: var(--element-text-light);
  cursor: pointer;

  &:hover {
    background-color: var(--background-secondary-hovered);
    cursor: pointer;
  }

  &.active {
    background-color: var(--background-primary);
    color: var(--element-text-light);

    &:hover {
      background-color: var(--background-primary-hovered);
      cursor: pointer;
    }
  }
}

.card {
  background-color: var(--background);
  border-radius: 40px;
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background: #54d3c223;
    }

    &.fail {
      &:hover {
        background: #fc5c6417;
      }
    }
  }

  &.active {
    background: var(--background-primary);

    &:hover {
      background: #91ebdf;
    }

    & * {
      color: var(--element-text-light)
    }

    &.fail {
      background: #e0545bbc;

      &:hover {
        background: #de7378bc;
      }
    }

  }

  &__nav {
    display: flex;
    align-items: center;

    &_item {
      margin: 0 20px;
      padding-bottom: 10px;
      cursor: pointer;
      color: var(--element-text-secondary);

      &:hover {
        color: var(--element-text);
      }

      &.active {
        border-bottom: var(--element-active) solid 3px;
        padding-bottom: 7px;
        color: var(--element-text);
      }
    }
  }
}