body {
  --background: #ffffff;
  --background-element: #f2f2f2;
  --background-input: #fbfbfb;
  --background-nav: #dcdcdc;
  --background-secondary: #fafcff;
  --background-secondary-hovered: #f8fbfd;
  --element-active: #3879ff;
  --element-text: #000;
  --element-text-secondary: #818181;
  --element-text-secondary-hovered: #646464;
  --element-text-light: #fff;
  --element-text-invert: #ffffff;
  --border: #e9e9e9;
  --background-primary: #3879ff;
  --background-primary-hovered: rgb(54, 89, 161);
}

* {
  font-family: "Montserrat", Arial, sans-serif;
  border: none;
  color: var(--element-text);
  transition-duration: 0.6s;
  transition-property: background-color, color;
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

header {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin-bottom: -20px;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  z-index: 100;
  background-color: #fff;
}
@media (max-width: 960px) {
  header {
    padding: 10px 15px;
  }
}

.header__brand {
  width: 166px;
}
.header__brand svg {
  width: 100%;
}
.header__text {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 960px) {
  .header__text {
    display: none;
  }
}
.header__text h2 {
  font-weight: 400;
  font-size: 16px;
  color: var(--element-active);
}
.header__text h2 strong {
  color: var(--element-active);
}
.header__profile {
  border-width: 2px;
  border-radius: 100px;
  background-position: center center;
  border-color: #2bc48a;
  border-style: solid;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
}
.header__profile span {
  color: #2bc48a;
}
@media (max-width: 960px) {
  .header__profile {
    padding: 6px 10px;
    font-size: 12px;
  }
}

.loginPopup__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5176470588);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPopup__container {
  max-width: 600px;
  min-width: 300px;
  max-height: 800px;
  border-radius: 15px;
  border: var(--border) solid 1px;
  background-color: var(--background);
}
.loginPopup__header {
  padding: 10px 10px;
  border-bottom: var(--border) solid 1px;
}
.loginPopup__header_tittle {
  text-align: center;
  text-transform: uppercase;
}
.loginPopup__buttons {
  display: flex;
  flex-direction: row;
  border-bottom: var(--border) solid 1px;
}
.loginPopup__buttons_item {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--background-secondary);
  cursor: pointer;
}
.loginPopup__buttons_item:hover {
  background-color: var(--background-secondary-hovered);
}
.loginPopup__buttons_item.active {
  background-color: var(--background-primary);
  color: var(--element-text-light);
}
.loginPopup__buttons_item.active:hover {
  background-color: var(--background-primary-hovered);
}
.loginPopup__body {
  padding: 15px;
}
.loginPopup__body_error {
  color: var(--element-text);
  text-align: center;
  padding: 5px 10pxa;
}
.loginPopup__form {
  display: flex;
  flex-direction: column;
}
.loginPopup__form_input {
  margin: 10px 0;
}
.loginPopup__form_input_text {
  margin-bottom: 5px;
  color: var(--element-text);
}
.loginPopup__form button {
  padding: 15px 10px;
  margin: 20px -16px -16px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  color: var(--element-text-light);
  background-color: var(--background-primary);
  border: none;
}
.loginPopup__form button:hover {
  background-color: var(--background-primary-hovered);
}

.chat {
  border: var(--border) 1px solid;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
}
.chat__panel {
  z-index: 20;
  background-color: #fff;
  border-right: var(--border) 1px solid;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
@media (max-width: 960px) {
  .chat__panel {
    width: calc(250px + 10%);
    transition-property: margin-left;
  }
  .chat__panel.hide {
    margin-left: calc(-200px - 10%);
  }
  .chat__panel.hide > .chat__panel_create, .chat__panel.hide > .chat__item {
    transition-property: opacity;
    opacity: 0;
    pointer-events: none;
  }
}
.chat__panel_wrapper {
  transition-property: background;
  background-color: rgba(0, 0, 0, 0.4901960784);
  width: calc(250px + 10%);
  border-right: var(--border) 1px solid;
}
@media (max-width: 960px) {
  .chat__panel_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .chat__panel_wrapper.hide {
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
  }
}
.chat__panel_create {
  padding: 10px 15px;
  border-bottom: var(--border) 1px solid;
  text-align: center;
  opacity: 1;
}
.chat__panel_create button {
  font-size: 12px;
  width: 80%;
  padding: 10px;
}
.chat__panel_nav {
  padding: 10px 15px;
  border-bottom: var(--border) 1px solid;
  display: none;
  justify-content: flex-end;
}
@media (max-width: 960px) {
  .chat__panel_nav {
    display: flex;
  }
}
.chat__panel_nav img {
  cursor: pointer;
}
.chat__body {
  height: 75vh;
  width: -webkit-fill-available;
  background-color: var(--background-input);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media (max-width: 960px) {
  .chat__body {
    margin-left: 50px;
  }
}
.chat__body > div:first-child {
  margin-top: auto;
}
.chat__empty {
  text-align: center;
  padding: 10px;
}

.chatForm__row {
  display: flex;
  padding-top: 15px;
  box-sizing: border-box;
  margin: 0 -10px;
}
@media (max-width: 960px) {
  .chatForm__row {
    flex-wrap: wrap;
  }
}
.chatForm__group {
  width: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.chatForm__group label {
  padding-bottom: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 18px;
}
@media (max-width: 960px) {
  .chatForm__group label {
    font-size: 14px;
  }
}
.chatForm__buttons {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 960px) {
  .chatForm__buttons {
    flex-wrap: wrap;
  }
}
.chatForm__buttons button {
  margin-bottom: 20px;
}

.chat__item {
  border-bottom: var(--border) 1px solid;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__item:hover {
  background-color: var(--background-secondary-hovered);
}
.chat__item:hover > .chat__item_icon {
  filter: invert(0.5);
}
.chat__item_icon {
  filter: invert(1);
}
.chat__item_icon:hover {
  filter: invert(0) !important;
}
.chat__item_input {
  height: 30px;
  font-size: 14px;
}

.message {
  display: flex;
}
.message__avatar {
  display: flex;
  align-items: flex-end;
  margin: 5px;
}
.message__avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: var(--border) 1px solid;
}
.message__body {
  width: fit-content;
  min-width: 30%;
  max-width: calc(100% - 112px);
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border: var(--border) 1px solid;
  border-radius: 10px;
}
.message__title {
  font-weight: 700;
  font-size: 13px;
}
.message__text {
  font-size: 13px;
}
.message__footer {
  font-size: 10px;
  color: var(--element-text-secondary);
  text-align: end;
}
.message.question {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.message.question .message__body {
  border-radius: 10px 10px 0 10px;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__container {
  position: relative;
  max-width: 200px;
  max-height: 200px;
}
.loading__spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--element-active);
  border-radius: 50%;
  animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--element-active) transparent transparent transparent;
}
.spinner:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input,
textarea,
select {
  margin: 0;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  background-color: var(--background-element);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: 500;
}
@media (max-width: 960px) {
  input,
  textarea,
  select {
    height: 40px;
    font-size: 14px;
  }
}

textarea {
  padding-top: 17px;
  resize: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select_wrapper {
  position: relative;
}
.select_wrapper::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

.content {
  max-width: 960px;
  box-sizing: border-box;
  padding: 110px 10px 20px 10px;
  margin: 0 auto;
}

button {
  color: #787878;
  font-size: 16px;
  font-family: "GraphikTT", Arial, sans-serif;
  line-height: 1;
  font-weight: 600;
  border-width: 2px;
  border-radius: 10px;
  background-position: center center;
  border-color: #c5c6c6;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 20px 50px;
  margin: 0 15px;
  background-color: #fff;
  cursor: pointer;
}
button:hover {
  border-color: #787878;
}
button.primary {
  color: #ffffff;
  font-size: 16px;
  font-family: "GraphikTT", Arial, sans-serif;
  line-height: 1;
  font-weight: 600;
  border-radius: 10px;
  background-color: #2bc48a;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button.primary:hover {
  background-color: #00af80;
  background-image: none;
}

/*# sourceMappingURL=index.css.map */
